<% content_for :title, "New amazon credential" %>

<h1>New amazon credential</h1>

<%= render "form", amazon_credential: @amazon_credential %>

<br>

<div>
  <%= link_to "Back to amazon credentials", amazon_credentials_path %>
</div>
